<div class="security-container">
    <mat-icon style="font-size: 20px; padding-bottom: 10px;">security</mat-icon>
    <div>{{ 'selectBus.safetyInfo' | translate }}</div>
  </div>
  <mat-divider></mat-divider>
  <div class="main-container">
    <div class="main-container1">
      <div>{{ 'selectBus.busesList' | translate }}</div>
      <div>{{ 'selectBus.sortBy' | translate }}</div>
    </div>
    <div class="main-container2" >{{ 'selectBus.departure' | translate }}</div>
    <div class="main-container3" >{{ 'selectBus.duration' | translate }}</div>
    <div class="main-container4" >{{ 'selectBus.arrivals' | translate }}</div>
    <div class="main-container5" >{{ 'selectBus.ratings' | translate }}</div>
    <div class="main-container6">{{ 'selectBus.fare' | translate }}</div>
    <div class="main-container7">{{ 'selectBus.seatsAvailable' | translate }}</div>
  </div>
  
